#passage_container {
  background-color: rgba(211, 211, 211, 0.18);
  margin: 0 5px 10px 10px;
  max-height: 200px;
  padding: 20px;
  border-radius: 5px;
}

#passage_container:hover {
  background-color: rgb(211, 211, 211);
}

.passage-content {
  display: inline-block;
  padding-top: 20px
}

.card {
  background-color: rgba(207, 218, 217, 0.13);
  border-radius: 5px;
  box-shadow: 1px 1px 1px grey;
  z-index: 1;
}

.passage-content span {
  /*display: inline-block;*/
  padding-right: 20px
}

.passage_container {
    overflow-y: scroll;
}

.passage_container .header {
  display: inline-block;
}

.passage {
  padding: 20px;
}

.passage hr {
  padding: 0px;
  margin: 5px;
}
