   @media (min-width: 300px) {
    .passage_container .col-md-5 {
      width: 49%;
    }
    .passage .header {
      width: 100%;
      background-color: rgba(198, 198, 198, 0.38);
      border-radius: 2px;
      padding: 5px;
    }
    .passage .title {
      font-size: 21px;
      display: inline-flex;
    }
    .passage .title .actions a {
      font-size: 14px;
      text-decoration: none;
      color: black;
    }
    .passage .title .actions a:hover {
      font-size: 14px;
      text-decoration: none;
      color: gray;
    }
    .passage .title .actions .glyphicon-edit {
      left: 74%;
    }
    .passage .title .actions .glyphicon-trash {
      left: 76%;
    }
    .passage .title,
    .passage .title > span,
    .passage .timeline,
    .passage .actions {
      width: 100%;
    }
    .passage div {
      display: inline-block;
    }
  }
  @media (min-width: 400px) {
    .passage_container .col-md-5 {
      width: 49%;
    }
    .passage .header {
      width: 100%;
      background-color: rgba(198, 198, 198, 0.38);
      border-radius: 2px;
      padding: 5px;
    }
    .passage .title {
      font-size: 21px;
      display: inline-flex;
    }
    .passage .title .actions a {
      font-size: 14px;
      text-decoration: none;
      color: black;
    }
    .passage .title .actions a:hover {
      font-size: 14px;
      text-decoration: none;
      color: gray;
    }
    .passage .title .actions .glyphicon-edit {
      left: 80%;
    }
    .passage .title .actions .glyphicon-trash {
      left: 81%;
    }
    .passage .title,
    .passage .title > span,
    .passage .timeline,
    .passage .actions {
      width: 100%;
    }
    .passage div {
      display: inline-block;
    }
  }
  
  @media (min-width: 500px){
    .passage .title .actions .glyphicon-edit {
      left: 86%;
    }
    .passage .title .actions .glyphicon-trash {
      left: 88%;
    }
  }
  @media (min-width: 768px) {
    .passage_container .col-md-5 {
      width: 49%;
    }
    .passage .title {
      font-size: 21px;
      display: inline-flex;
    }
    .passage .title .actions a {
      font-size: 14px;
      text-decoration: none;
      color: black;
    }
    .passage .title .actions a:hover {
      font-size: 14px;
      text-decoration: none;
      color: gray;
    }
    .passage .title .actions .glyphicon-edit {
      left: 85%;
    }
    .passage .title .actions .glyphicon-trash {
      left: 87%;
    }
    .passage .title,
    .passage .title > span,
    .passage .timeline,
    .passage .actions {
      width: 100%;
    }
    .passage div {
      display: inline-block;
    }
    .passage_container .col-md-8 {
      width: 84.666667%;
      margin-left: 7%;
    }
  }
  @media (min-width: 1000px) {
    .passage .title .actions .glyphicon-edit {
      left: 88%;
    }
    .passage .title .actions .glyphicon-trash {
      left: 90%;
    }
  }
  @media (min-width: 1200px) {
    .passage_container .col-md-5 {
      width: 49%;
    }
    .passage .title {
      font-size: 21px;
      display: inline-flex;
    }
    .passage .title .actions a {
      font-size: 14px;
      text-decoration: none;
      color: black;
    }
    .passage .title .actions a:hover {
      font-size: 14px;
      text-decoration: none;
      color: gray;
    }
    .passage .title .actions .glyphicon-edit {
      left: 91%;
    }
    .passage .title .actions .glyphicon-trash {
      left: 93%;
    }
    .passage .title,
    .passage .title > span,
    .passage .timeline,
    .passage .actions {
      width: 100%;
    }
    .passage div {
      display: inline-block;
    }
    .passage_container .col-lg-8 {
      width: 84.666667%;
      margin-left: 7%;
    }
  }
